<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)">
  <ion-list>
    <ion-item>
      <ion-label floating>First name</ion-label>
      <ion-input id="firstName" name="firstName" type="text" formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input id="lastName" name="lastName" type="text" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input id="userName" name="userName" type="text" formControlName="userName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input id="email" name="email" type="text" formControlName="email" ></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.email.valid  && (form.controls.email.dirty || submitAttempt)">
      <p>Please enter a valid email!</p>
    </ion-item>


    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input id="password" name="password" type="password" formControlName="password"></ion-input>
    </ion-item>


  </ion-list>
  <button type="submit" [disabled]="!form.valid" ion-button >Save</button>
</form>
